<ion-modal-view>
  <ion-header-bar  class="bar-royal">
    <h1 class="title">Instruction</h1>

	</ion-header-bar>


<!-- <ion-view view-title="Instruction"> -->

  	<ion-content style = "background-image: url(img/download1.jpg">
<!-- 
  	<br> -->
  		
		<div>
		  <p>1. Users are able to go to expense page, report page, statistic page, budget page and log out from application.</p>
		  
		  <p>2. In expense page, users need to key the expenditure by fill in the item, quantity and price column. After that, tap the "save" button. Then, users can continue fill in the column for the next item. The "price" column is the price for one quantity.</p>
		  
		  <p>3. In report page, this is valid only when users save all the expenditures that has been filled in before in expense page. The report will show us all the expenditures based on the selected dates. Choose the date and then tap "Get Report" button.</p>
		  
		  <p>4. In statistic page, this is valid only when users save all the expenditures that has been filled in before in expense page. Users can choose to see the bar chart between Budget x Month or Expense x Month.</p>
		  
		  <p>5. In budget page, users are able to set or edit the budget for a month by filling in the amount and then tap the "save" button. If users would like to edit the budget, just enter the new amount and save. The current budget will replace with the new budget. </p>

		  <p>6. In OCR page, users have two options either to "Choose Photo" or "Take Photo". If users tap the "Choose Photo" button, then users need to get the picture from gallery or photos. After getting the picture, users need to crop the picture. Then tap the "Save" button. After that, users can choose to "Analyze Text" or "Reset". If users chose to analyze text, then users are able to edit the converted text, fill in the price and tap "Send Feedback" to send to expense page. It is quite similar step when users chose the "Take Photo" button.</p>
		  

		</div>


		<div class="row row-top">
		    <div class="col">

		        <button class="button button-block button-royal" ui-sref="app.expense">
		          Continue
		        </button>
		    
		    </div>
		</div>

  	</ion-content>
</ion-modal-view>
