<ion-content style = "background-image: url(img/download1.jpg">

	<div class="bar bar-header bar-royal">
	    <h5 class="title">Student Finance Management</h5>
	</div>

		<br/><br/><br/><br/>
	   
	<div style="text-align: center" class="row">
	    <div style="text-align: center" class="col" >
	    	<img src="img/rsz_facebook-login-blue.png" ng-click="loginFacebook()">
	    </div>

	     <div style="background-color:red;">   
    </div>
	    <!-- <div style="text-align: center" class="col" >
	        <img src="img/y.png">
	    </div>
	    <div style="text-align: center" class="col" >
	        <img src="img/f.png">
	    </div> -->
	</div>

	<div>
		<center><h5>Sign up for free !</h5></center>
	</div>

    <div class="list list-inset">
   		<form>
	        <label class="item item-input">
	           <input type="text" placeholder="Email" ng-model="user.email">
	        </label>
	        <label class="item item-input">
	           <input type="password" placeholder="Set a password" ng-model="user.password">
	        </label>
	       <!--  <label class="item item-input">
	           <input type="text" placeholder="Confirm password">
	        </label> -->
	        <label class="item">
                <button class="button button-block button-royal" ng-click="createUser(user)">Get Started</button>
            </label>
	    </form>
    </div>

	<div>
	    <center><a style="text-decoration: none" href="#login">Log In</a></center>
	</div>  

</ion-content>
